/* #region Comuni */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

:root {
    --discord-header: #3161e0;
    --discord-white: #ffffff;
    --discord-black: #23272a;
    --discord-grey: #f6f6f6;
    --discord-button: #8ea1e1;
    --discord-footertxt: #7289da;
    --discord-divider: #323a4b;

}


a{
    text-decoration: none;
    color: var(--discord-white);
}
.line-height{
    line-height: 1.5rem;
}

.dflex {
    display: flex;
}

.reverseRow {
    flex-direction: row-reverse;
}
.ButtonWhite{
    background-color: var(--discord-white);
    padding: .5rem .75rem;
    border-radius: 100px;
    color: var(--discord-black);
    margin: 1rem;
}
.ButtonBlack{
    background-color: var(--discord-black);
    padding: .5rem .75rem;
    border-radius: 100px;
    color: var(--discord-white);
    margin: 1rem;
}

.bigbutton{
    font-weight: bold;
    padding: 1rem 1.25rem;
}

.module {
    height: 70vh;
    justify-content: center;
    align-items: center;
}
.banner {
    width: 70vw;
    justify-content: space-between;
    align-items: git a;
}
.wave{
    width: 100vw;
}

.bottom {
    align-items: flex-end;
}
img{
    max-width: 100%;
    min-width: 1rem;
}
/* #endregion comuni */

/* #region utility */
.Margin-Auto{
    margin: auto;
}
.moreheihgt{
    height: 100vh;
}


/* #endregion utility */





/* #region debug */
.debug *{
    border: 1px dashed;
}

.debug header {
    background-color: aquamarine;
}

.debug .navigation {
    background-color: orange;
    border: 1px dashed;
}

.debugmodulereverse {
    background-color: grey;
}

.debug .headjumbo {
    background-color: blue;
}

.debug .jumbo {
    background-color: red;

}

.debugarticlebox {
    background-color: cyan;
}

.debugarticlesect {
    border: 1px dashed;
}

.debugimg {
    background-color: rosybrown;
    border: 1px dashed;
}

.debugdownload {
    background-color: green;

}

.debugersocial {
    background-color: pink;
}

.debuginfo {
    border: 1px dashed white;
    background-color: rgb(0, 173, 142);
}

.debugfooterlogo {
    border: 1px dashed;
    background-color: rosybrown;
}

.debugfooter {
    background-color: rgb(0, 53, 12);
}

.debugbutton {
    border: 1px dashed black;
}


/* #endregion debug */


/* #region header */

#app_header{

    background-color: var(--discord-header);
    padding: 1rem;
.Logo{
    flex-grow: 1;
    max-width: 100%;
    align-items: center;
}
.menu{
    flex-grow: 1;
    text-align: center;
    justify-content: space-between;

}
.Login{
    flex-grow: 1;
    text-align: end;
    font-weight: bold;
}
}
.navigation {
    width: 70vw;
    margin: auto;
    margin-top: .5rem;
    justify-content: space-between;
}

/* #endregion header */

/* #region main */
main {}

/* #region Jumbo */
.jumbo{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    text-align: center;
    color: var(--discord-white);
}


.Title{
    color: var(--discord-white);
    font-size: 2.75rem;
    margin-bottom: 1rem;
}
.Titolo{
    font-weight: bold;
    margin-bottom: 2rem;
}
.Pharag{
    width: 60%;
}

.choose{
    margin:2rem;
}

.headjumbo{
    width: 80vw;
}

/* #endregion Jumbo */



.firstsection {
    width: 60%;
}


.secondsection {
    width: 30%;
    .Title{
        color: var(--discord-black);
        font-weight: bold;
        font-size: 2rem;
    }
    .Pharag{
        color: var(--discord-white);
    }
}

.Bigdownload {
    height: 70vh;
    justify-content: center;
    align-items: center;
}

/* #endregion main */



/* #footer region */
.social {
    width: 32%;
}

.infoNservices {
    width: 17%;
}

.divider {
    border-bottom: 1px solid grey;
}


.moduleF {
    height: 5vh;
    justify-content: center;
    align-items: flex-end;
}

/* #endfooter region */