/* #region Comuni */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --discord-header: #3161e0;
    --discord-white: #ffffff;
    --discord-black: #23272a;
    --discord-grey: #f6f6f6;
    --discord-button: #8ea1e1;
    --discord-footertxt: #7289da;
    --discord-divider: #323a4b;

}

body {
    margin: auto;
}

.dflex {
    display: flex;
}

.reverseRow {
    flex-direction: row-reverse;
}

.bottom {
    align-items: flex-end;
}

/* #endregion comuni */
/* #region debug */
.debug {
    border: 1px dashed;
}

.debug header {
    background-color: aquamarine;
}

.debug .navigation {
    background-color: orange;
    border: 1px dashed;
}

.debugmodulereverse {
    background-color: grey;
}

.debugheadbanner {
    background-color: blue;
}

.debugheadermodule {
    background-color: red;

}

.debugarticlebox {
    background-color: cyan;
}

.debugarticlesect {
    border: 1px dashed;
}

.debugimg {
    background-color: rosybrown;
    border: 1px dashed;
}

.debugdownload {
    background-color: green;

}

.debugersocial {
    background-color: pink;
}

.debuginfo {
    border: 1px dashed white;
    background-color: rgb(0, 173, 142);
}

.debugfooterlogo {
    border: 1px dashed;
    background-color: rosybrown;
}

.debugfooter {
    background-color: rgb(0, 53, 12);
}

.debugbutton {
    border: 1px dashed black;
}


/* #endregion debug */


/* #region header */

#app_header{
.Logo{
    width: 25%;
}
.menu{
    width: 50%;
    text-align: center;
}
.Login{
    width: 255;
    text-align: end;
}
}

header {
    height: 12vh;
    justify-content: center;
    background-color: var(--discord-header);
    
}

.navigation {
    /* justify-content: space-between; */
    width: 70vw;
}

/* #endregion header */

/* #region main */
main {}

.banner {
    width: 80vw;
    height: 80%;
}


.module {
    height: 80vh;
    justify-content: center;
    align-items: center;
}

article {
    width: 60%;
}

aside {
    width: 40%;
}

.Bigdownload {
    height: 70vh;
    justify-content: center;
    align-items: center;
}

/* #endregion main */



/* #footer region */
.social {
    width: 32%;
}

.infoNservices {
    width: 17%;
}

.divider {
    border-bottom: 1px solid grey;
}


.moduleF {
    height: 5vh;
    justify-content: center;
    align-items: flex-end;
}

/* #endfooter region */